@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

input {
    outline: none;
}


/*** COLORS TO BE USED ***/

:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --blueColor: #064469;
    --grayColor: #d9d9d999;
}


/*** BODY ***/

body {
    font-size: 1rem;
    /*font-family: "Lora", serif;*/
    font-family: "Plus Jakarta Sans", sans-serif;
}


/*** HEADER ***/

header {
    width: fit-content;
    padding: 25px 60px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    position: fixed;
    top: 85%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: var(--whiteColor);
    box-shadow: 0px 1px 10px var(--grayColor);
}

header .header-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    -webkit-column-gap: 60px;
}

header .header-content a i {
    color: var(--blueColor);
    font-size: 1.4rem;
}


/*** HOME PAGE ***/

.home-page {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
    /*background-image: url('../images/home-page/img1.jpg');
    animation-name: animate;
    animation-delay: 10s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;*/
}


/*@keyframes animate {
    0% {
        background-image: url('../images/home-page/img2.JPG');
    }
    15% {
        background-image: url('../images/home-page/img3.JPG');
    }
    30% {
        background-image: url('../images/home-page/img4.JPG');
    }
    45% {
        background-image: url('../images/home-page/img5.JPG');
    }
    60% {
        background-image: url('../images/home-page/img6.jpg');
    }
    75% {
        background-image: url('../images/home-page/img7.JPG');
    }
    90% {
        background-image: url('../images/home-page/img8.JPG');
    }
    100% {
        background-image: url('../images/home-page/img10.JPG');
    }
}*/